*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.cardmaindiv{
  flex-wrap: wrap;
}
.sinir{
  overflow: hidden
}
.carddiv{
  cursor: pointer;
}
.carddiv:hover{
  transform: translateY(-1rem);
}
.header{
  background: linear-gradient(to right, #efefbb, #d4d3dd);
  padding:1rem 0 ;  
}
.bodycomponent{
  margin-top: 5rem;
  
}